<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.u_nation.passcodelocksample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".sample_activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PassCodeSetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".PassCodeConfirmationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".sample_activities.Sample1Activity"/>
        <activity android:name=".sample_activities.Sample2Activity"/>
        <activity android:name=".sample_activities.Sample3Activity"/>
        <activity android:name=".sample_activities.Sample4Activity"/>
    </application>

</manifest>
